{% extends "base.html" %}

{% block title %}新用户注册{% endblock %}

{% block content %}
    <h1>注册新帐号 加入奔流</h1>
    <form action="{% url "register" %}" method="post">
    {% csrf_token %}

        {% for item in form %}
            <div class="form-group">
                <label class="control-label col-md-1">{{ item.label }}</label>
                <div class="col-md-2">
                    {{ item }}
                </div>
                <div class="col-md-offset-1 col-md-10">
                    {{ item.errors }}
                </div>
            </div>

        {% endfor %}

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-success btn-sm">点击注册</button>
            </div>
        </div>
    </form>
{% endblock %}